In [1]:
import pandas as pd
import numpy as np
import os
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from matplotlib import cm
from sklearn import metrics
from sklearn import ensemble
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn import datasets, linear_model, metrics
import math

%matplotlib inline
import matplotlib.pyplot as plt
from matplotlib import cm
from sklearn import svm, datasets
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
# import xgboost as xgb
from numpy import loadtxt
# from xgboost import XGBClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import ExtraTreesClassifier


os.chdir('C:\\Users\\hp\\Desktop\\ProFinch')

In [45]:
df=pd.DataFrame()
df=pd.read_excel("CustomerInfo5.xlsx")

In [43]:
df

,Unnamed: 0,first_name,last_name,gender,age,country,state,postal code,social security number,company,...,money_withdrawn_reason,money_withdrawn_location,Suspicious Activity,No.of Transactions,money_withdrawn_date,money_withdrawn_date_only,amount_transferred,sender_id,receiver_id,Time_only
0,0,Aaron,Skirrow,Male,73,United States,Washington,98140,857-26-6919,InnoZ,...,Electronics,Washington,False,1,2017-01-23 05:32:04,01/23/17,8320.42,725,1725,05:32:04
1,1,Abbe,Kauscher,Female,89,United States,Missouri,65810,209-26-1487,Livetube,...,Toys,Ohio,True,1,2017-02-13 04:09:48,02/13/17,10615.00,673,1673,04:09:48
2,2,Abram,Vinton,Male,33,United States,Iowa,50369,406-67-0764,Leenti,...,Tools,Iowa,False,1,2017-04-04 11:14:20,04/04/17,24223.40,610,1610,11:14:20
3,3,Adelheid,Gainforth,Female,61,United States,Texas,77388,224-56-1586,Blogtag,...,Music,Texas,True,1,2018-01-23 03:52:32,01/23/18,9866.93,455,1455,03:52:32
4,4,Adelheid,Sackur,Female,76,United States,Missouri,64142,749-34-4385,Camido,...,Automotive,Pennsylvania,True,1,2019-01-01 06:19:38,01/01/19,16041.25,186,1186,06:19:38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,997,Zaccaria,Thow,Male,72,United States,Texas,88574,692-56-8900,Katz,...,Movies,Texas,False,1,2018-10-04 05:45:45,10/04/18,11396.52,30,1030,05:45:45
998,998,Zak,Shimon,Male,25,United States,California,92105,545-47-9553,Quatz,...,Tools,California,False,1,2019-01-24 06:43:38,01/24/19,16449.56,653,1653,06:43:38
999,999,Zebedee,Hartup,Male,52,United States,New York,11241,415-93-7210,Eare,...,Shoes,New York,False,1,2017-10-21 16:58:33,10/21/17,3125.18,83,1083,16:58:33
1000,1000,Zenia,Patience,Female,22,United States,District of Columbia,20535,415-21-2084,Shufflebeat,...,Health,District of Columbia,False,1,2018-06-19 00:55:45,06/19/18,18477.26,20,1020,00:55:45
1001,1001,Zorah,Pill,Female,23,United States,District of Columbia,20508,673-78-2460,Ntag,...,Shoes,District of Columbia,False,1,2018-10-28 20:04:12,10/28/18,859.61,508,1508,20:04:12

In [57]:
for i in range(len(df)):
    if(df['first_name'][i]=='spider'):
#         x=df['last_name'][i]
        df_new=df.drop(i)

In [58]:
df_new.shape

(1001, 25)

In [52]:
df['Suspicious Activity'][887]

False

In [35]:
df['Suspicious Activity']

0       False
1        True
2       False
3        True
4        True
        ...
997     False
998     False
999     False
1000    False
1001    False
Name: Suspicious Activity, Length: 1000, dtype: bool

In [23]:
df1=pd.DataFrame()
df1['Fraudulent']=False

In [26]:
for i in range(1000):
    df1.loc[i,'Fraudulent']=False

In [17]:
import numpy as np
values=np.random.choice(range(1000), 200, replace=False)

In [18]:
values

array([758, 301, 797, 350, 987, 463, 450, 939, 604, 874, 885, 911, 994,
       355, 950, 846, 219, 363, 321, 711, 486,  66, 316, 480, 996, 692,
       579, 650, 383, 813, 353,  89, 907, 938, 603, 423, 856, 866, 648,
       775,  22, 212, 169, 903, 659,   5, 803,  12, 673, 761, 600,  45,
       782, 747, 780, 544, 556, 765, 223, 244, 955, 539, 389, 104, 543,
        34, 901, 125, 549,  24, 272, 968,  20, 339, 271, 700, 187, 473,
       580, 812, 557, 616, 284,   7, 513, 739, 876, 914, 553, 625,  78,
       366,  40, 929, 184,  98, 412, 724, 671,   9, 771, 108,  90, 738,
       165, 820, 688, 368, 670, 601, 287,  17,  48, 222, 170, 442, 924,
       590, 338, 890, 304, 190, 221, 868, 627, 793, 470,  88, 461, 313,
       328, 158, 318, 294,  52, 869, 117, 421, 815, 981, 795, 233, 969,
       424, 833, 420, 515, 387, 857, 546, 454, 561, 495, 468, 883, 397,
       526, 920,  42, 142, 143,  55, 411, 462, 161, 990, 708, 291, 255,
       342, 386, 458, 115, 369, 680, 144, 532, 519, 570, 759, 441, 683,
       406, 257, 773, 998, 205, 784, 986, 862, 699, 103, 510, 852, 886,
       296, 706, 130, 796, 972])

In [27]:
for k in range(1000):
      for i in values:
        if df1.index[k]==i:
            df1.loc[k,'Fraudulent']=True

In [34]:
df1['Fraudulent']

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996     True
997    False
998     True
999    False
Name: Fraudulent, Length: 1000, dtype: object

In [30]:
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report

In [31]:
print(metrics.accuracy_score(df['Suspicious Activity'],df1['Fraudulent']))

ValueError: Classification metrics can't handle a mix of binary and unknown targets

In [60]:
ct=0
for i in range(1000):
    if((df1['Fraudulent'][i]==True) and (df['Suspicious Activity'][i]==True)):
        ct+=1
ct

62

# Testing a classifier (70-30)

In [46]:
ct=0
for i in range(1000):
    if (df['Suspicious Activity'][i]==True):
        ct+=1
ct

360

In [47]:
df=df.drop(['Unnamed: 0'],axis=1)

In [48]:
df.columns.tolist()

['first_name',
 'last_name',
 'gender',
 'age',
 'country',
 'state',
 'postal code',
 'social security number',
 'company',
 'job title',
 'salary',
 'card number',
 'card type',
 'money_withdrawn_amount',
 'money_withdrawn_reason',
 'money_withdrawn_location',
 'Suspicious Activity',
 'No.of Transactions',
 'money_withdrawn_date',
 'money_withdrawn_date_only',
 'amount_transferred',
 'sender_id',
 'receiver_id',
 'Time_only']

In [49]:
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder() 
df['gender']= label_encoder.fit_transform(df['gender'])   
df['country']= label_encoder.fit_transform(df['country'])   
df['state']= label_encoder.fit_transform(df['state'])  
df['company']= label_encoder.fit_transform(df['company'])
df['job title']= label_encoder.fit_transform(df['job title'])
df['card type']= label_encoder.fit_transform(df['card type'])
df['money_withdrawn_reason']= label_encoder.fit_transform(df['money_withdrawn_reason'])
df['money_withdrawn_location']= label_encoder.fit_transform(df['money_withdrawn_location'])

In [28]:
df['money_withdrawn_date_year']=""

In [56]:
df['money_withdrawn_date_year'] = df['money_withdrawn_date'].dt.year
df['money_withdrawn_date_month'] = df['money_withdrawn_date'].dt.month
df['money_withdrawn_date_week'] = df['money_withdrawn_date'].dt.week
df['money_withdrawn_date_day'] = df['money_withdrawn_date'].dt.day
df['money_withdrawn_date_hour'] = df['money_withdrawn_date'].dt.hour
df['money_withdrawn_date_minute'] = df['money_withdrawn_date'].dt.minute
df['money_withdrawn_date_dayofweek'] = df['money_withdrawn_date'].dt.dayofweek

In [31]:
df.dtypes

first_name                                object
last_name                                 object
gender                                     int32
age                                        int64
country                                    int32
state                                      int32
postal code                                int64
social security number                    object
company                                    int32
job title                                  int32
salary                                     int64
card number                                int64
card type                                  int32
money_withdrawn_amount                   float64
money_withdrawn_reason                     int32
money_withdrawn_location                   int32
Suspicious Activity                         bool
No.of Transactions                         int64
money_withdrawn_date              datetime64[ns]
money_withdrawn_date_only                 object
amount_transferred                       float64
sender_id                                  int64
receiver_id                                int64
Time_only                                 object
money_withdrawn_date_year                  int64
money_withdrawn_date_month                 int64
money_withdrawn_date_week                  int64
money_withdrawn_date_day                   int64
money_withdrawn_date_hour                  int64
money_withdrawn_date_minute                int64
money_withdrawn_date_dayofweek             int64
dtype: object

In [59]:
feature_names=df.drop(['first_name','last_name','Suspicious Activity','social security number','money_withdrawn_date_only','Time_only','money_withdrawn_date','card number','card type','country','company'],axis=1)
X=feature_names
y=df['Suspicious Activity']

In [60]:
feature_names.dtypes

gender                              int32
age                                 int64
state                               int32
postal code                         int64
job title                           int32
salary                              int64
money_withdrawn_amount            float64
money_withdrawn_reason              int32
money_withdrawn_location            int32
No.of Transactions                  int64
amount_transferred                float64
sender_id                           int64
receiver_id                         int64
money_withdrawn_date_year           int64
money_withdrawn_date_month          int64
money_withdrawn_date_week           int64
money_withdrawn_date_day            int64
money_withdrawn_date_hour           int64
money_withdrawn_date_minute         int64
money_withdrawn_date_dayofweek      int64
dtype: object

In [61]:
random_state = np.random.RandomState(42)
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3, random_state=random_state)

In [62]:
X_train

,gender,age,state,postal code,job title,salary,money_withdrawn_amount,money_withdrawn_reason,money_withdrawn_location,No.of Transactions,amount_transferred,sender_id,receiver_id,money_withdrawn_date_year,money_withdrawn_date_month,money_withdrawn_date_week,money_withdrawn_date_day,money_withdrawn_date_hour,money_withdrawn_date_minute,money_withdrawn_date_dayofweek
440,0,68,14,46867,116,49475,9801.09,15,14,1,17684.48,345,1345,2017,12,50,11,16,5,0
482,0,49,31,14646,110,122327,803.27,9,31,1,798.57,179,1179,2017,5,19,12,5,12,4
422,1,45,3,72118,33,77266,7016.01,13,3,1,9952.50,652,1652,2018,2,6,11,19,24,6
780,1,30,20,21265,145,135194,26975.64,20,20,1,8871.67,187,1187,2018,9,39,25,14,41,1
951,0,68,18,71213,25,39877,29020.63,17,18,1,3810.41,132,1132,2018,12,1,31,15,26,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,0,56,40,77015,85,68626,4832.99,20,14,1,24114.59,584,1584,2017,9,39,30,1,7,5
270,0,37,5,80126,166,140052,1119.57,5,5,1,4595.80,300,1300,2019,3,12,22,13,58,4
860,0,54,0,36628,108,27300,5660.44,11,0,1,9580.08,448,1448,2018,9,39,28,8,24,4
435,0,20,42,22217,39,99691,23493.67,18,42,1,21904.75,84,1084,2017,9,37,16,4,54,5
102,1,32,13,60681,55,140105,9583.05,0,13,1,20472.84,461,1461,2017,10,41,13,14,32,4

In [63]:
clf = DecisionTreeClassifier().fit(X_train, y_train)
pred=clf.predict(X_test)
print(metrics.accuracy_score(y_test,pred))

0.7209302325581395

In [64]:
ext=ExtraTreesClassifier()
ext.fit(X_train, y_train)
pred=ext.predict(X_test)
print(metrics.accuracy_score(y_test,pred))

0.7408637873754153