In [1]:
import pandas as pd
import numpy as np
import os
import pyodbc
import datetime

In [2]:
os.chdir('C:\\Users\\hp\\Desktop\\ProFinch')

In [7]:
df=pd.read_excel("CustomerInfo5.xlsx")

In [9]:
df=df.drop(['Unnamed: 0'],axis=1)

In [10]:
df.columns

Index(['first_name', 'last_name', 'gender', 'age', 'country', 'state',
       'postal code', 'social security number', 'company', 'job title',
       'salary', 'card number', 'card type', 'money_withdrawn_amount',
       'money_withdrawn_reason', 'money_withdrawn_location',
       'Suspicious Activity', 'No.of Transactions', 'money_withdrawn_date',
       'money_withdrawn_date_only', 'amount_transferred', 'sender_id',
       'receiver_id', 'Time_only'],
      dtype='object')

In [16]:
df.to_csv('CustomerDataNew.csv')

In [15]:
df=df.fillna(0)

In [17]:
df

,first_name,last_name,gender,age,country,state,postal code,social security number,company,job title,...,money_withdrawn_reason,money_withdrawn_location,Suspicious Activity,No.of Transactions,money_withdrawn_date,money_withdrawn_date_only,amount_transferred,sender_id,receiver_id,Time_only
0,Aaron,Skirrow,Male,73,United States,Washington,98140,857-26-6919,InnoZ,Nurse Practicioner,...,Electronics,Washington,False,1,2017-01-23 05:32:04,01/23/17,8320.42,725,1725,05:32:04
1,Abbe,Kauscher,Female,89,United States,Missouri,65810,209-26-1487,Livetube,Web Designer III,...,Toys,Ohio,True,1,2017-02-13 04:09:48,02/13/17,10615.00,673,1673,04:09:48
2,Abram,Vinton,Male,33,United States,Iowa,50369,406-67-0764,Leenti,Quality Control Specialist,...,Tools,Iowa,False,1,2017-04-04 11:14:20,04/04/17,24223.40,610,1610,11:14:20
3,Adelheid,Gainforth,Female,61,United States,Texas,77388,224-56-1586,Blogtag,GIS Technical Architect,...,Music,Texas,True,1,2018-01-23 03:52:32,01/23/18,9866.93,455,1455,03:52:32
4,Adelheid,Sackur,Female,76,United States,Missouri,64142,749-34-4385,Camido,Structural Analysis Engineer,...,Automotive,Pennsylvania,True,1,2019-01-01 06:19:38,01/01/19,16041.25,186,1186,06:19:38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,Zaccaria,Thow,Male,72,United States,Texas,88574,692-56-8900,Katz,Software Engineer IV,...,Movies,Texas,False,1,2018-10-04 05:45:45,10/04/18,11396.52,30,1030,05:45:45
998,Zak,Shimon,Male,25,United States,California,92105,545-47-9553,Quatz,Executive Secretary,...,Tools,California,False,1,2019-01-24 06:43:38,01/24/19,16449.56,653,1653,06:43:38
999,Zebedee,Hartup,Male,52,United States,New York,11241,415-93-7210,Eare,Geologist III,...,Shoes,New York,False,1,2017-10-21 16:58:33,10/21/17,3125.18,83,1083,16:58:33
1000,Zenia,Patience,Female,22,United States,District of Columbia,20535,415-21-2084,Shufflebeat,Director of Sales,...,Health,District of Columbia,False,1,2018-06-19 00:55:45,06/19/18,18477.26,20,1020,00:55:45
1001,Zorah,Pill,Female,23,United States,District of Columbia,20508,673-78-2460,Ntag,Human Resources Manager,...,Shoes,District of Columbia,False,1,2018-10-28 20:04:12,10/28/18,859.61,508,1508,20:04:12