In [1]:
import pandas as pd
import numpy as np
import os
import pyodbc
import datetime
# from mlxtend.frequent_patterns import apriori, association_rules 
from mlxtend.preprocessing import TransactionEncoder

In [2]:
from apyori import apriori

In [3]:
os.chdir('C:\\Users\\hp\\Desktop\\ProFinch')

In [4]:
df=pd.read_excel("CustomerInfo5.xlsx")

In [5]:
df=df.drop(['Unnamed: 0'],axis=1)

In [6]:
df.values[0][23]

'05:32:04'

In [7]:
records=[]

for i in range(1002):
    records.append([str(df.values[i,j]) for j in range(0,24)])

In [8]:
records[0]

['Aaron',
 'Skirrow',
 'Male',
 '73',
 'United States',
 'Washington',
 '98140',
 '857-26-6919',
 'InnoZ',
 'Nurse Practicioner',
 '139097',
 '201950038819481',
 'diners-club-enroute',
 '27666.09',
 'Electronics',
 'Washington',
 'False',
 '1',
 '2017-01-23 05:32:04',
 '01/23/17',
 '8320.42',
 '725',
 '1725',
 '05:32:04']

In [9]:
association_rules = apriori(records, min_support=0.0045, min_confidence=0.2, min_lift=3, min_length=2)

In [10]:
for i in association_rules:
    print(i)

RelationRecord(items=frozenset({'New York', '46'}), support=0.00499001996007984, ordered_statistics=[OrderedStatistic(items_base=frozenset({'46'}), items_add=frozenset({'New York'}), confidence=0.38461538461538464, lift=6.761133603238867)])
RelationRecord(items=frozenset({'Account Executive', 'Florida'}), support=0.00499001996007984, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Account Executive'}), items_add=frozenset({'Florida'}), confidence=0.3333333333333333, lift=3.8390804597701145)])
RelationRecord(items=frozenset({'Editor', 'California'}), support=0.005988023952095809, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Editor'}), items_add=frozenset({'California'}), confidence=0.5, lift=4.175)])
RelationRecord(items=frozenset({'District of Columbia', 'Health'}), support=0.005988023952095809, ordered_statistics=[OrderedStatistic(items_base=frozenset({'District of Columbia'}), items_add=frozenset({'Health'}), confidence=0.2142857142857143, lift=4.87987012987013)])
RelationRecord(items=frozenset({'Georgia', 'laser'}), support=0.00499001996007984, ordered_statistics=[OrderedStatistic(items_base=frozenset({'laser'}), items_add=frozenset({'Georgia'}), confidence=0.22727272727272727, lift=8.434343434343434)])

KeyboardInterrupt:

In [11]:
association_results = list(association_rules)

In [5]:
len(df['social security number'].unique())

1002

In [6]:
df.dtypes

Unnamed: 0                            int64
first_name                           object
last_name                            object
gender                               object
age                                   int64
country                              object
state                                object
postal code                           int64
social security number               object
company                              object
job title                            object
salary                                int64
card number                           int64
card type                            object
money_withdrawn_amount              float64
money_withdrawn_reason               object
money_withdrawn_location             object
Suspicious Activity                    bool
No.of Transactions                    int64
money_withdrawn_date         datetime64[ns]
money_withdrawn_date_only            object
amount_transferred                  float64
sender_id                             int64
receiver_id                           int64
Time_only                            object
dtype: object

In [6]:
df.columns=df.columns.str.strip().str.lower().str.replace(' ','_').str.replace('(','').str.replace(')','')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   first_name                 1002 non-null   object
 1   last_name                  1002 non-null   object
 2   gender                     1002 non-null   object
 3   age                        1002 non-null   int64
 4   country                    1002 non-null   object
 5   state                      1002 non-null   object
 6   postal_code                1002 non-null   int64
 7   social_security_number     1002 non-null   object
 8   company                    1002 non-null   object
 9   job_title                  1002 non-null   object
 10  salary                     1002 non-null   int64
 11  card_number                1002 non-null   int64
 12  card_type                  1002 non-null   object
 13  money_withdrawn_amount     1002 non-null   float64
 14  money_withdrawn_reason     1002 non-null   object
 15  money_withdrawn_location   1002 non-null   object
 16  suspicious_activity        1002 non-null   bool
 17  no.of_transactions         1002 non-null   int64
 18  money_withdrawn_date       1002 non-null   datetime64[ns]
 19  money_withdrawn_date_only  1002 non-null   object
 20  amount_transferred         1002 non-null   float64
 21  sender_id                  1002 non-null   int64
 22  receiver_id                1002 non-null   int64
 23  time_only                  1002 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(2), int64(7), object(13)
memory usage: 181.2+ KB

In [9]:
df['state'].unique()

array(['Washington', 'Missouri', 'Iowa', 'Texas', 'Illinois',
       'District of Columbia', 'Michigan', 'New York', 'Louisiana',
       'California', 'Alabama', 'Indiana', 'Connecticut', 'Georgia',
       'Florida', 'Nevada', 'Tennessee', 'New Jersey', 'Ohio', 'Oklahoma',
       'Colorado', 'North Carolina', 'Utah', 'Pennsylvania', 'Arizona',
       'Kentucky', 'Arkansas', 'South Carolina', 'Alaska', 'New Mexico',
       'Minnesota', 'Maine', 'Massachusetts', 'Idaho', 'Kansas',
       'Nebraska', 'West Virginia', 'Mississippi', 'Wisconsin',
       'Virginia', 'North Dakota', 'Maryland', 'Delaware', 'Oregon',
       'Montana', 'Hawaii'], dtype=object)

In [17]:
basket = (df[df['state'] =="Texas"]
          .groupby(['social_security_number','money_withdrawn_amount'])['suspicious_activity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('social_security_number'))

In [18]:
basket

money_withdrawn_amount,112.85,118.37,174.46,208.13,602.05,1686.59,2259.42,2579.69,2628.32,3091.79,...,27811.90,28057.26,28548.27,28609.13,28674.41,28755.12,28883.65,29222.63,29494.57,29825.91
social_security_number,,,,,,,,,,,,,,,,,,,,,
103-40-4885,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
104-89-5747,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
107-35-6672,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
110-77-6155,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
112-54-6811,0,True,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841-98-5410,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
881-71-1817,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
887-37-5808,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
888-94-9002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
891-07-3732,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
def encode_units(x):
    if(type(x)!=str):
        if x <= 0:
            return 0
        if x >= 1:
            return 1

In [16]:
basket_sets = basket.applymap(encode_units)
basket_sets

first_name,money_withdrawn_amount,money_withdrawn_reason,Adelheid,Adrianna,Ambrose,Anderson,Anni,Ashlee,Aurelia,Avivah,...,Ugo,Vinson,Vivyanne,Warde,Waverley,Welby,Wood,Yetta,Yorgos,Zaccaria
social_security_number,,,,,,,,,,,,,,,,,,,,,
103-40-4885,1,None,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
104-89-5747,1,None,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
107-35-6672,1,None,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
110-77-6155,1,None,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
112-54-6811,1,None,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841-98-5410,1,None,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
881-71-1817,1,None,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
887-37-5808,1,None,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
888-94-9002,1,None,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
891-07-3732,1,None,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True)
print(frequent_itemsets)

   support                  itemsets
0      1.0  (money_withdrawn_amount)

In [14]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head()

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []